*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background: #f0f0f0;
}

.todo {
  top: 200px;
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 1.95px 2.6px;
}

.icon-wrapper {
  position: relative;
  cursor: pointer;
}

.icon-wrap {
  cursor: pointer;
}

.count {
  position: absolute;
  top: -8px;
  right: -16px;
  display: grid;
  place-items: center;
  border-radius: 50px;
  width: 17px;
  height: 17px;
  color: #fff;
  background: red;
}

.list-container {
  list-style-type: none;
  background: white;
}


.list-item .input-field {
  border: none;
  outline: none;
}

.list-item .input-field:focus {
  border: none;
  outline: none;
}

.list-item .input {
  border: none;
  outline: none;
}

.list-item .input:focus {
  outline: none !important;
}

.list-item:nth-child(odd) .input-field {
  text-decoration: line-through;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.title-wrap h4 {
  text-transform: capitalize;
}

.list-item form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.list-item .label-wrap {
  display: flex;
  align-items: center;
}

.list-item button{
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
} 

.list-item .settings{
  cursor: pointer;
  position: relative;
}

.hide{
  display: none;
}

.remove {
  margin-left: 0.5rem;
}

.list-item .checkbox {
  margin-right: 0.7rem;
}

.list-item .checkbox:hover,
.list-item #submit:hover {
  cursor: pointer;
}

.list-item .menu{
  position: absolute;
  padding: 5px 0;
  right: -5px;
  bottom: -65px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
}

.menu li{
  list-style-type: none;
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  justify-content: flex-start;
}

.menu li:hover{
  background-color: #f5f5f5f5;
}

.menu li i{
  padding-right: 8px;
}

#clear-all {
  width: 100%;
  background: #f0f0f0;
 }

.clear-all-wrap {
  display: flex;
  justify-content: center;
}
.clear-all {
  border: none;
  outline: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  color: red;
}

.clear-all:hover,
.save-changes:hover {
  cursor: pointer;
}